@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: black;
}

.color-swiper .swiper-wrapper {
  display: flex;
}

.half-circle {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #3effa8 20px, #3effa8 0) top / 60px 20px border-box;
  background-repeat: no-repeat;
}

.popup-shadow {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.button-txt {
  @apply text-lg italic font-bold leading-[1.313rem] text-center uppercase;
}
.heading-2 {
  @apply italic text-[1.625rem] leading-[1.875rem] font-black uppercase;
}
.heading-3 {
  @apply text-base leading-[1.188rem] italic font-black uppercase;
}
.body-txt {
  @apply font-body text-base leading-[1.375rem];
}
.sub-txt {
  @apply font-body text-[0.813rem] leading-4;
}

.mobile-button-txt {
  @apply text-xl italic font-bold leading-[1.438rem] text-center uppercase;
}
.mobile-heading-3 {
  @apply text-xl leading-[1.438rem] italic font-black uppercase;
}
.mobile-body-txt {
  @apply font-body text-base leading-5 tracking-[-0.3px];
}

.faded-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 31.77%,
    #ffffff 74.48%
  );
}

.footer-shadow {
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
}